{% extends 'blog/base.html' %}
{% load crispy_forms_tags %} <!-- Carrega as tags do crispy forms -->
{% block content %}
  <div class="content-section bg-dark text-light p-4 rounded d-flex flex-column align-items-center justify-content-center">
    <form method="POST" class="w-100" style="max-width: 400px;">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4 text-center">Login</legend>
        {{ form|crispy }} <!-- Renderiza o formulário usando o crispy forms -->
      </fieldset>
      <div class="form-group text-center">
        <button class="btn btn-outline-info btn-lg w-100" type="submit">Login</button>
        <small class="d-block text-muted mt-3"><a href="{% url 'password_reset' %}" class="btn btn-link text-info">Forgot Password?</a></small>
      </div>
    </form>
    <div class="border-top pt-3 text-center">
      <a href="{% url 'register' %}" class="btn btn-outline-info btn-sm mx-2">Need an Account?</a>
    </div>
  </div>
{% endblock %}
