{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section bg-dark text-light p-4 rounded">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group border-bottom border-secondary pb-3">
        <legend class="h5 text-info mb-4">Join Today</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-info mb-4 mt-4" type="submit">Sign Up</button>
      </div>
    </form>
    <div class="border-top border-secondary pt-3">
      <small class="text-light">Already have an account? <a class="text-info" href="{% url 'login' %}">Sign In</a></small>
    </div>
  </div>
{% endblock %}
