{% extends 'blog/base.html' %}
{% block content %}
  <h1 class="text-light">Blog About!</h1>
  <div style="width: 80%;">
    <p>This project is an enhanced adaptation of the blog application developed during the Django module. It features modernized design, improved functionality, and additional elements such as publication dates for posts. The refined structure and style aim to provide a more engaging and user-friendly experience.</p>
    <p>To explore the site, you can create a few test accounts, make posts, like them, update your profile with a new profile picture, and test features like password reset and profile editing.</p>

  </div>
{% endblock %}
